<extend name="Layout/index" />
<block name="breadcrumb-01">
	<li>
		<i class="icon-home home-icon"></i>
		<a href="#">首页</a>
	</li>
	<li class="active">角色管理</li>
</block>

<block name="breadcrumb-02">
	<h1>
		角色管理
		<small>
			<i class="icon-double-angle-right"></i>
			 分配权限
		</small>
	</h1>
</block>
<block name="main">
	<div class="row">	
		<div class="col-md-12">
			<p>
				给 <b><{$role.name}></b> 分配权限
			</p>
			
			<form action="<{:U('Role/savenode')}>" method='post'>
			<p style="width:800px">
				<volist name="nodes" id="vo"> 
					<input type="checkbox" name="node[]"  value="<{$vo.id}>" <if condition="in_array($vo['id'],$ro_nodes) eq true">checked</if>><{$vo.name}>&nbsp;&nbsp;
					<if condition="$i%4 eq 0 "><br></if>
				</volist>
			</p>
			<input type="hidden" name="rid" value="<{$role.id}>">
			<input type="submit" value="保 存" class="btn btn-primary">

			</form>
		</div>
	</div>
	
</block>