<extend name="Index/index" />
<!--contact-->
<block name="main">

<div class="site-main">
<div class="container" style='width:980px;'>
<div class="row">
<div class="col-sm-2 col-md-4 main-sidebar">
<div class="view3">
<div class="card sidebar-user hidden-sm"> 
<div class="card-content info-wrap clearfix">
<div class="avatar img-60 info-avatar" style="background-image:url(https://striker.teambition.net/thumbnail/110m74d1a40279158a29e1e2044012a5b866/w/200/h/200);"></div>
<div class="info-items is-bfc">
<div class="info-name">Z z d.</div>
<div class="info-desc" data-original-title="" title="">
<span class="wechat-label">微信登录</span>
</div>
</div>
</div>
</div>
<div class="card sidebar-nav">
<ul class="nav">
<li class="is-current">
<a href="/"><span class="icon icon-user nav-icon"></span><br>
<span class="nav-title">个人信息</span></a>
</li>
<li><a href="/account"><span class="icon icon-eye nav-icon"></span><br
><span class="nav-title">账号密码</span></a></li>
<li><a href="/security"><span class="icon icon-lock2 nav-icon"></span><br>
<span class="nav-title">安全设置</span></a></li>
<li><a href="/apps"><span class="icon icon-th-stroke nav-icon"></span><br>
<span class="nav-title">应用管理</span></a></li>
<li><a href="/third"><span class="icon icon-switch nav-icon"></span><br>
<span class="nav-title">第三方账号</span></a></li>
<li><a href="/payment"><span class="icon icon-bookkeeping-logo nav-icon"></span><br>
<span class="nav-title">帐户付费信息</span></a></li></ul></div></div></div>
<div class="col-sm-10 col-md-8 main-content">
<div class="layer"><div class="view5 is-loaded">
<div class="card profile-manager">
<div class="card-header"><h4 class="card-title">个人信息</h4></div>
<div class="card-content"><form class="form-horizontal info-group">
<div class="form-group">
<label class="col-sm-2 control-label avatar-label">头像</label>
<div class="col-sm-10">
<div class="avatar-wrap">
<div class="avatar img-100" style="background-image:url(https://striker.teambition.net/thumbnail/110m74d1a40279158a29e1e2044012a5b866/w/200/h/200)">
<div class="progress-mask">
	
</div>
</div>
<div class="avatar-set">
<a class="btn btn-ghost btn-primary upload-handler">上传新头像</a>
</div>
</div>
</div>
</div>
<div class="form-group">
<label class="col-sm-2 control-label">姓名</label>
<div class="col-sm-10">
<input class="name-input form-control" type="text" name="name" value="Z z d.">
</div>
</div>
<div class="form-group">
<label class="col-sm-2 control-label">姓名</label>
<div class="col-sm-10">
<input class="name-input form-control" type="text" name="name" value="Z z d.">
</div>
</div>
<div class="form-group">
<label class="col-sm-2 control-label">联系电话</label>
<div class="col-sm-10"><input class="phone-input form-control" type="text" name="phone" value="">
</div>
</div>


<div class="form-group">
<div class="col-sm-10 col-sm-offset-2">
<a class="btn btn-lg btn-primary btn-block save-handler disabled">保存</a>
</div>
</div>
</form>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</block>
<!--//contact-->
<!--footer-->
