<extend name="Layout/index" />

<block name="breadcrumb-01">
	<li>
		<i class="icon-home home-icon"></i>
		<a href="#">首页</a>
	</li>
	<li class="active">首页管理</li>
</block>

<block name="breadcrumb-02">
	<h1>
		首页管理
		<small>
			<i class="icon-double-angle-right"></i>
			 图片添加
		</small>
	</h1>
</block>

<block name='main'>
	<div class="row">
        <div class="col-lg-12">
            <div class="box">

                <div id="collapseOne" class="accordion-body collapse in body">
                    <form action="<{:U('Header/doupload')}>" class="form-horizontal" id="block-validate" novalidate="novalidate" method="post" enctype="multipart/form-data">

                        <div class="form-group">
                            <label class="control-label col-lg-4">Name</label>
                            <div class="col-lg-4">
                                <input type="text" id="name" name="name" class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-lg-4"></label>
                            <div class="col-lg-4">
                                <input name="image" type="file" value="" />
                            </div>
                        </div>
                        
                        <div class="form-actions no-margin-bottom" style="text-align:center;">
                            <input type="submit" value="上传" class="btn btn-primary btn-lg ">
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>

	<!-- <form action="<{:U('Public/doupload')}>" method="post" class='col-md-4' enctype="multipart/form-data">
		
		<div class="form-group">
		<label for="#" class="">添加图片：</label>
		  <div class="input-group"> -->
		  	 <!-- <input type="text" name="name" class="form-control" aria-label="Amount (to the nearest dollar)"> -->
		  	 <!-- <input name="image" type="file" value="" />
			  
			  <span class="input-group-btn">
			  	<button class="btn btn-default btn-sm">添加</button>
			  </span>
			  
		  </div>
		</div>
		 <input type="hidden" name="pid" value="<present name="Think.get.pid"><{$Think.get.pid}><else />0</present>">
 -->
	</form>
	</block>
