<extend name="Layout/index" />
<block name="breadcrumb-01">
	<li>
		<i class="icon-home home-icon"></i>
		<a href="#">首页</a>
	</li>
	<li class="active">分类管理</li>
</block>

<block name="breadcrumb-02">
	<h1>
		分类管理
		<small>
			<i class="icon-double-angle-right"></i>
			 分类树列表
		</small>
	</h1>
</block>
<block name='main'>
	<div class="widget-box">
	<div class="widget-header header-color-blue2">
		<h4 class="lighter smaller">Choose Categories</h4>
	</div>

	<div class="widget-body">
		<div class="widget-main padding-8">
			<div id="tree1" class="tree"></div>
		</div>
	</div>
</div>



<!--[if !IE]> -->

<script type="text/javascript">
	window.jQuery || document.write("<script src='__PUBLIC__/assets/js/jquery-2.0.3.min.js'>"+"<"+"/script>");
</script>

<!-- <![endif]-->

<!--[if IE]>
<script type="text/javascript">
window.jQuery || document.write("<script src='__PUBLIC__/assets/js/jquery-1.10.2.min.js'>"+"<"+"/script>");
</script>
<![endif]-->

<script type="text/javascript">
	if("ontouchend" in document) document.write("<script src='__PUBLIC__/assets/js/jquery.mobile.custom.min.js'>"+"<"+"/script>");
</script>
<script src="__PUBLIC__/assets/js/bootstrap.min.js"></script>
<script src="__PUBLIC__/assets/js/typeahead-bs2.min.js"></script>

<!-- page specific plugin scripts -->

<script src="__PUBLIC__/assets/js/fuelux/data/fuelux.tree-sampledata.js"></script>
<script src="__PUBLIC__/assets/js/fuelux/fuelux.tree.min.js"></script>

<!-- ace scripts -->

<script src="__PUBLIC__/assets/js/ace-elements.min.js"></script>
<script src="__PUBLIC__/assets/js/ace.min.js"></script>
<script type="text/javascript">







	jQuery(function($){


		var tree_data_list = {};
		//tree_data_list['1'] = {name: '很牛逼', type: 'folder'}
		<volist name="list" id="vo">
			tree_data_list['<{$vo.id}>'] = {name: '<{$vo.name}>', type: <notempty name="vo.child">"folder"<else />"item"</notempty>};	
			
			<notempty name="vo.child">
				var child = {};
				<volist name="vo.child" id="item1">
					child['<{$item1.id}>'] = {name: '<{$item1.name}>', type:<notempty name="item1.child">"folder"<else />"item"</notempty>};
					<notempty name="item1.child">
						var child2 = {};
						<volist name="item1.child" id="item2">
							child2['<{$item2.id}>'] = {name: '<{$item2.name}>', type:<notempty name="item2.child">"folder"<else />"item"</notempty>};
							
						</volist>
						child['<{$item1.id}>']['additionalParameters'] = {'children': child2};
					</notempty>

				</volist>
				tree_data_list['<{$vo.id}>']['additionalParameters'] = {'children': child};
			</notempty>
		
		</volist>



		// var tree_data_list = {
		// 	'for-sale' : {name: '牛逼不', type: 'folder'}	,
		// 	'vehicles' : {name: 'Vehicles', type: 'folder'}	,
		// 	'rentals' : {name: 'Rentals', type: 'folder'}	,
		// 	'real-estate' : {name: 'Real Estate', type: 'folder'}	,
		// 	'pets' : {name: 'Pets', type: 'folder'}	,
		// 	'tickets' : {name: 'Tickets', type: 'item'}	,
		// 	'services' : {name: 'Services', type: 'item'}	,
		// 	'personals' : {name: 'Personals', type: 'item'}
		// }

		// tree_data['for-sale']['additionalParameters'] = {
		// 	'children' : {
		// 		'appliances' : {name: 'Appliances', type: 'item'},
		// 		'arts-crafts' : {name: 'Arts & Crafts', type: 'item'},
		// 		'clothing' : {name: 'Clothing', type: 'item'},
		// 		'computers' : {name: 'Computers', type: 'item'},
		// 		'jewelry' : {name: 'Jewelry', type: 'item'},
		// 		'office-business' : {name: 'Office & Business', type: 'item'},
		// 		'sports-fitness' : {name: 'Sports & Fitness', type: 'item'}
		// 	}
		// }
		// tree_data['vehicles']['additionalParameters'] = {
		// 	'children' : {
		// 		'cars' : {name: 'Cars', type: 'folder'},
		// 		'motorcycles' : {name: 'Motorcycles', type: 'item'},
		// 		'boats' : {name: 'Boats', type: 'item'}
		// 	}
		// }
		// tree_data['vehicles']['additionalParameters']['children']['cars']['additionalParameters'] = {
		// 	'children' : {
		// 		'classics' : {name: 'Classics', type: 'item'},
		// 		'convertibles' : {name: 'Convertibles', type: 'item'},
		// 		'coupes' : {name: 'Coupes', type: 'item'},
		// 		'hatchbacks' : {name: 'Hatchbacks', type: 'item'},
		// 		'hybrids' : {name: 'Hybrids', type: 'item'},
		// 		'suvs' : {name: 'SUVs', type: 'item'},
		// 		'sedans' : {name: 'Sedans', type: 'item'},
		// 		'trucks' : {name: 'Trucks', type: 'item'}
		// 	}
		// }

		// tree_data['rentals']['additionalParameters'] = {
		// 	'children' : {
		// 		'apartments-rentals' : {name: 'Apartments', type: 'item'},
		// 		'office-space-rentals' : {name: 'Office Space', type: 'item'},
		// 		'vacation-rentals' : {name: 'Vacation Rentals', type: 'item'}
		// 	}
		// }
		// tree_data['real-estate']['additionalParameters'] = {
		// 	'children' : {
		// 		'apartments' : {name: 'Apartments', type: 'item'},
		// 		'villas' : {name: 'Villas', type: 'item'},
		// 		'plots' : {name: 'Plots', type: 'item'}
		// 	}
		// }
		// tree_data['pets']['additionalParameters'] = {
		// 	'children' : {
		// 		'cats' : {name: 'Cats', type: 'item'},
		// 		'dogs' : {name: 'Dogs', type: 'item'},
		// 		'horses' : {name: 'Horses', type: 'item'},
		// 		'reptiles' : {name: 'Reptiles', type: 'item'}
		// 	}
		// }

		var treeDataSource = new DataSourceTree({data: tree_data_list});


		$('#tree1').ace_tree({
			dataSource: treeDataSource ,
			multiSelect:true,
			loadingHTML:'<div class="tree-loading"><i class="icon-refresh icon-spin blue"></i></div>',
			'open-icon' : 'icon-minus',
			'close-icon' : 'icon-plus',
			'selectable' : false,
			'selected-icon' : 'icon-ok',
			//'unselected-icon' : 'icon-remove'
			'unselected-icon' : 'icon-spin'
		});

		$('#tree2').ace_tree({
			dataSource: treeDataSource2 ,
			loadingHTML:'<div class="tree-loading"><i class="icon-refresh icon-spin blue"></i></div>',
			'open-icon' : 'icon-folder-open',
			'close-icon' : 'icon-folder-close',
			'selectable' : false,
			'selected-icon' : null,
			'unselected-icon' : null
		});



		/**
		$('#tree1').on('loaded', function (evt, data) {
		});

		$('#tree1').on('opened', function (evt, data) {
		});

		$('#tree1').on('closed', function (evt, data) {
		});

		$('#tree1').on('selected', function (evt, data) {
		});
		*/
	});
</script>
</block>